@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tempestas Mons</h1>
    <p class="lead">Analyzing mountain pass conditions and their related travel times</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Road Conditions</h2>
        <p>
            View the historical road conditions for a given place
        </p>
    </div>
    <div class="col-md-4">
        <h2>Travel Times</h2>
        <p>View how long it takes to travel over a specific mountain pass</p>
    </div>
    <div class="col-md-4">
        <h2>Weather</h2>
        <p>Find out how weather affects travel times and road conditions</p>
    </div>
</div>